#page1_jPanel1{
  background: #0080C0;
}

#page1_jIconfont1{
  font-size: 24px;
  color: #FFFFFF;
}

#page1_jLabel1{
  font-size: 18px;
  color: #FFFFFF;
}

#page1_jIconfont3{
  font-size: 24px;
}

#page1_jLabel4{
  font-size: 14px;
  color: #C0C0C0;
}

#page1_jIconfont2{
  font-size: 24px;
  color: #FFFFFF;
}

#page1_jMenuPop1{
  width: 148px;
}

#page1_jPanel3{
  width: 90%;
}

#page1_jLabel3{
  font-size: 14px;
}

#page1_jLabel5{
  font-size: 14px;
}

#page1_jLabel6{
  font-size: 14px;
}

#page1_jLabel7{
  font-size: 14px;
}

#page1_jLabel8{
  font-size: 14px;
}

#page1_jLabel9{
  font-size: 14px;
}

#page1_jLabel10{
  font-size: 14px;
}

#page1_jLabel2{
  font-size: 14px;
}

