#page1_jLabel2{
  font-size: 14px;
  color: #999999;
  line-height: 40px;
}

#page1_jIconfont1{
  font-size: 36px;
  color: #FF8000;
}

#page1_jLabel1{
  font-size: 24px;
  line-height: 36px;
}

#page1_jPanel2{
  min-height: 160px;
}

#page1_jLabel3{
  font-size: 18px;
  color: #CCCCCC;
  text-align: center;
}

#page1_jLabel4{
  font-size: 42px;
  text-align: center;
  line-height: 63px;
}

#page1_jPanel4{
  min-height: 40px;
}

#page1_jPanel3{
  min-height: 20px;
}

#page1_jAbsolutediv1{
  left: 0px;
  bottom: 0px;
  height: 50px;
  width: 100%;
  position:absolute;
}

#page1_jLabel5{
  font-size: 14px;
  color: #009926;
  text-align: center;
  line-height: 50px;
}
